<div class="dark:bg-black bg-white w-full flex items-center justify-center py-10 px-4">
  <div class="flex flex-col items-center space-y-6 max-w-4xl w-full">

    <!-- Avatar -->
    <img src="https://tecdn.b-cdn.net/img/new/avatars/2.webp" class="w-20 h-20 rounded-full object-cover"
      alt="Avatar" />

    <!-- Estado -->
    <div class="border border-green-600 rounded-xl px-4 py-2 shadow-md">
      <button class="text-green-700 font-semibold text-sm">Disponible para trabajar</button>
    </div>

    <!-- Información -->
    <div class="text-justify max-w-3xl px-4 md:px-8">
      <h1 class="text-3xl font-bold text-gray-900 dark:text-white">Juan Manuel Sanchez</h1>
      <p class="mt-2 text-gray-700 dark:text-white">
        Soy desarrollador backend con un año y medio de experiencia, especializado en la creación de APIs robustas y
        escalables. Me enfoco en la eficiencia, seguridad y buenas prácticas para construir soluciones sólidas y
        mantenibles.
      </p>
    </div>

  </div>
</div>

<app-tech-icon></app-tech-icon>