<div data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out"
  data-aos-offset="120" data-aos-once="true"
  class=" dark:bg-black bg-white w-full flex items-center justify-center py-10 px-4">
  <div class="flex flex-col items-center space-y-6 max-w-4xl w-full">

    <!-- Avatar -->
    <img src="avataaars.png" alt="Avatar" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="1000"
      data-aos-easing="ease-in-out" data-aos-offset="120" data-aos-once="true" class="w-24 h-24 rounded-full shadow">


    <!-- Estado -->
    <div class="animate-pulse border dark:bg-green-600 border-green-600 rounded-xl px-4 py-2 shadow-md">
      <a href="https://wa.me/573217648655" target="_blank">
        <button class="text-green-700 dark:text-white font-semibold text-sm md:text-base">
          Disponible para trabajar
        </button>
      </a>


    </div>

    <!-- Información -->
    <div class="flex flex-col text-justify max-w-3xl px-4">
      <h1 class="text-2xl md:text-3xl font-bold dark:text-white">
        Juan Manuel Sanchez
      </h1>
      <h2 class="dark:text-white md:text-xl">Desarrollador Backend</h2>
      <p class="mt-2 text-gray-700 dark:text-white text-sm md:text-base leading-relaxed">
        Soy desarrollador backend con un año y medio de experiencia, especializado en la creación de APIs robustas y
        escalables. Me enfoco en la eficiencia, seguridad y buenas prácticas para construir soluciones sólidas y
        mantenibles.
      </p>

      <div class="w-full flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-6 justify-start mt-5">
        <!-- LinkedIn Button -->
        <a href="https://www.linkedin.com/in/juan-manuel-sanchez-9b2414216/" target="_blank"
          class="flex items-center justify-center gap-2 px-4 py-2 bg-[#0077B5] text-white rounded hover:bg-[#005582] transition w-full sm:w-auto">
          <fa-icon [icon]="faLinkedin"></fa-icon> LinkedIn
        </a>

        <!-- WhatsApp Button -->
        <a href="https://wa.me/573217648655" target="_blank"
          class="flex items-center justify-center gap-2 px-4 py-2 bg-[#25D366] text-white rounded hover:bg-[#128C7E] transition w-full sm:w-auto">
          <fa-icon [icon]="faWhatsapp"></fa-icon> WhatsApp
        </a>

        <!-- Descargar PDF -->
        <a href="CVJuanManuelSanchez.pdf" download
          class="flex items-center justify-center gap-2 px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700 transition w-full sm:w-auto">
          <fa-icon [icon]="faFilePdf"></fa-icon>
          Descargar PDF
        </a>
      </div>
    </div>

  </div>
</div>