<div class="dark:bg-black bg-white w-full flex justify-center px-4 py-8">
  <div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-8 gap-6 text-center">
    <i class="devicon-mysql-plain colored text-4xl md:text-5xl"></i>
    <i class="devicon-nestjs-plain colored text-4xl md:text-5xl"></i>
    <i class="devicon-nodejs-plain colored text-4xl md:text-5xl"></i>
    <i class="devicon-angularjs-plain colored text-4xl md:text-5xl"></i>
    <i class="devicon-react-original colored text-4xl md:text-5xl"></i>
    <i class="devicon-tailwindcss-plain colored text-4xl md:text-5xl"></i>
    <i class="devicon-csharp-line colored text-4xl md:text-5xl"></i>
    <i class="devicon-git-plain colored text-4xl md:text-5xl"></i>
  </div>
</div>
