<div class="dark:bg-black bg-white flex items-center justify-center px-8 py-10 w-full">
  <div class="flex flex-col w-full max-w-3xl justify-center items-center space-y-4 text-justify">
    
    <h1 class="text-3xl font-bold text-gray-900 dark:text-white">Mantglo SAS</h1>
    <h3 class="font-bold dark:text-white">Desarrollador Backend</h3>
    
    <p class="text-gray-700 dark:text-white">
      Desarrollador Backend con experiencia en la mejora de sistemas empresariales.
      Encargado del mantenimiento, optimización y desarrollo de nuevas funcionalidades para páginas web corporativas. 
      Lideré mejoras clave en la gestión de arrendamiento de vehículos mediante la automatización de procesos internos. 
      Implementé interfaces eficientes con ReactJS en el frontend y desarrollé servicios robustos en el backend utilizando 
      Node.js y C#, logrando una integración fluida entre sistemas. Además, gestioné campañas en Google Ads, aumentando 
      la visibilidad de la empresa y mejorando las tasas de conversión.
    </p>
    
  </div>
</div>
