<div data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out"
  data-aos-offset="120" data-aos-once="true" id="projects"
  class="dark:bg-black mb-4 p-8 flex items-center justify-center flex-col">
  <div class="py-15">
    <h1 class="font-bold text-4xl dark:text-white">
      <> Proyectos
    </h1>
  </div>

  <div [@fadeSlide] class="flex flex-wrap gap-6 justify-center">
    <app-card-proyect *ngFor="let proyect of projects" [proyect]="proyect"></app-card-proyect>
  </div>
</div>